body {
    background-color: black;
    font-family: sans-serif;
}

header {
    background-color: grey;
    width: 50%;
    padding-bottom: 5mm;
    padding-top: 2.5mm;
    padding-left: 1mm;
}

title {
    color: white;
}

h1 {
    padding-left: 10%;
    color: white
}

#Home {
    color: white;
}

table {
    float: right;
    color: white;
}

ul {
    color: white;
    right: 1mm;
    top: 1mm;
    list-style-type: none;
    margin: 0;
    padding: 5;
    display: flex;
    position: fixed;
}

li {
    padding: 1mm;
}

p {
    color: white
}