body {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0;
}

header {
    background-color: rgb(58, 54, 54);
    width: 100%;
    padding-bottom: 5mm;
    padding-top: 2.5mm;
    padding-left: 1mm;
    position: fixed;
    top: 0;
}

.ynp {
    width: 400px;
    padding-left: 50px;
}

.imageandcap {
    display: flex;
}

title {
    color: white;
}

h1 {
    padding-left: 15px;
    color: white;
    font-size: 100px;
}

#Home {
    color: white;
    font-size: 15px;
}

ul {
    color: white;
    right: 1mm;
    top: 1mm;
    list-style-type: none;
    margin: 0;
    padding: 5;
    display: flex;
    position: fixed;
}

li {
    padding: 1mm;
}

#insta {
    width: 19px;
    background-color: black;
}

p {
    color: white;
    padding: 10px;
    width: 400px;
    font-size: larger;
    display: inline-block;
}