body {
    background-color: black;
    font-family: sans-serif;
}

header {
    color: white;
    margin-left: 1mm;
}

h1 {
    padding-left: 10%;
    color: white
}

tr {
    right: 10%;
}

p {
    color: white
}